<div class="content">
  <h1>Bipolar Animal Orphanage</h1>

  <%= form_for @shortened_url do |form| %>
    <p class="fields">
      <%= form.text_field :url, class: "textfield", placeholder: "Enter URL" %>
    </p>
   
    <p class='buttons'>
      <%= form.submit "Adopt!", class: "submit" %>
    </p>
   
    <% if @shortened_url.errors[:url].any? %>
      <p class='error-messages'>
        The given url <%= @shortened_url.errors[:url].to_sentence %>.
      </p>
    <% end %>
  <% end %>

  <% if flash[:animurl].present? %>
    <p class='animurl'>
      Your bipolar pet: 
      <%= root_url + flash[:animurl].to_s %>
    </p>
  <% end %>
</div>