<!DOCTYPE html>
<html>
<head>
  <title>Shorty</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:animurl].present? %>
  <p class='shortened-link'>
    Your URL: 
    <%= root_url + flash[:animurl].to_s %>
  </p>
<% end %>

<%= yield %>

</body>
</html>
