<!DOCTYPE html>
<html>
<head>
  <title>Shorty</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:shortened_id].present? %>
  <p class='shortened-link'>
    Your URL: 
    <%= url_url(flash[:shortened_id]) %>
  </p>
<% end %>

<%= yield %>

</body>
</html>
