<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>Shorty</title>
=======
  <title>AnimURL</title>
>>>>>>> e1300e07a14ae0905d9e799c800d5875b5a02a1a
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<<<<<<< HEAD
<% if flash[:shortened_id].present? %>
  <p class='shortened-link'>
    Your URL: 
    <%= url_url(flash[:shortened_id]) %>
  </p>
<% end %>

=======
>>>>>>> e1300e07a14ae0905d9e799c800d5875b5a02a1a
<%= yield %>

</body>
</html>
